<link rel="stylesheet" href="roomAdminListl.less?__inline" />
<div class="block clearfix">
    <form name="searchForm" novalidate ng-submit="search($event)">
        <div class="list-filter-col">
            <label>房管员姓名</label>
            <input type="text" class="form-control" ng-model="queryParams.agentName" jr-placeholder="房管员姓名" required/>
        </div>

        <div class="list-filter-col">
            <label>手机号</label>
            <input type="text" class="form-control" ng-model="queryParams.agentPhone" jr-placeholder="手机号" required/>
        </div>

        <div class="list-filter-col">
            <label>分店</label>
            <input type="text" class="form-control" ng-model="queryParams.agentEnterprise" jr-placeholder="分店" required/>
        </div>


        <div class="list-filter-col">
                <jr-dropdown-button options="queryOptions.isvalid" value="queryParams.isvalid" class="w120"></jr-dropdown-button>
        </div>

        <div class="list-filter-col" ng-if="userInfo.roleId=='101'">
            <button class="btn btn-output" type="button" ng-click="search()">查询</button>
        </div>
        <div class="pos-rb">
            <div class="list-filter-col">
                <button class="btn btn-primary" type="submit"><i class="icon icon-search"></i>查找</button>
            </div>
            <div class="list-filter-col">
                <button class="btn btn-default" type="button" ng-click="clearParams()">清空查询项</button>
            </div>

        </div>

    </form>
</div>


<div class="table-con" id="guest-table">
<table class="table break-all">
    <thead>
        <tr>
            <th>房管员姓名</th>
            <th>电话号码</th>
            <th>分店</th>
            <th>身份证号</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in orders.infoList">
            <td>{{order.agentName}}</td>
            <td>{{order.agentPhone}}</td>
            <td>{{order.agentEnterprise}}</td>
            <td>{{order.agentIdCardText}}</td>
            <td>{{order.isOnWork}}</td>
            <td>
                <a href="javascript:;" class="mr-s"  ng-click="look($event, order)">查看</a>
                <a href="javascript:;" class="mr-s" ng-click="modify($event, order)">修改</a>
                <!-- <a ng-href="#/company/{{order.companyId}}?type=edit"  ng-if="userInfo.roleId=='101'" target="_blank">编辑</a> -->
            </td>
        </tr>
    </tbody>
</table>
</div>

<pagination total-items="orders.totalCount" page="orders.pageNum" max-size="9"></pagination>
